/* Navbar.module.css */
.item {
    padding: 10px;
    color: green;
    transition: color 0.3s ease-in-out;
}

.item.active {
    color: red;
    background-color: #e0e0e0;
}

.sidebar {
    grid-area: sidebar;
    overflow: auto;
    background-color: #82c095;
    height: 100vh;
}

.item a {
    text-decoration: none;
    color: inherit;
}

.item:hover {
    background-color: #e0e0e0;
}


.friends {
    margin-top: 70px;
}

.friendListItem {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    margin-bottom: 8px;
}