.App {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: grid;
    grid-template-areas:
"header header "
"sidebar content ";
    grid-template-rows: 100px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;

}


.header {
    grid-area: header;
    overflow: hidden;
}

.header .header_img {
    display: block;
    width: 100px;
}

.sidebar {
    grid-area: sidebar;
    overflow: hidden;
    background-color: aqua;

}

.content {
    grid-area: content;
    background-color: aquamarine;

}